## Data Types

Notice in the examples below, the different operations result in different types of outcomes.

In [ ]:
print(1 + 1) # this is an integer

In [ ]:
print(1.0 + 1) # this is an integer added to a decimal/floating point

In [ ]:
print("1" + "1") # this a string/text

In [ ]:
print(100 * 2)

In [ ]:
print(100 * "2")

We will learn more about the different types of variables later, but for now, remember that you can use the `type` command to find out the type of an expression:

In [ ]:
type(1)

In [ ]:
type(3.14)

In [ ]:
type("Hello")

In [ ]:
type("1")

In [ ]:
type("3.14")

In [ ]:
type(1+1)

In [ ]:
type("1" + "1")

In [ ]:
type(10 * "2")

**Lesson**: Notice the different data types above: `str` (string), `int` (integer), `float` (decimal numbers). One thing hat you will notice is that the outcome of the various operators (`+`, `*`, etc) can be different based on the data types involved.

#### Exercise 

What will the following program print out? Figure it our _before_ running the program.

In [ ]:
x = 41
x = x + 1
print(x)

In [ ]:
x = "41"
x = x + "1"
print(x)