### Built-in functions

Python provides a set of functions already built-in. You are already very familiar with one of them:

In [ ]:
# Here print is the function
# Within parentheses we pass ONE parameter, the string with the message
print("Oh yeah, I am a function! I print things on the screen")

# The print function can take more than one parameters
# For example below we pass three strings as parameters
name = "Panos"
print("Hi", name, "How are you")

You have already encountered `len`, `sum`, `max`, and `min`.

In [ ]:
nums = [3, 41, 12, 9, 74, 15]

# len() takes as a parameter a string (and returns its length in characters)
# or a list/set/dictionary/... (and returns the number of elements)
print("Length:", len(nums))

# max() / min() takes as a parameter a *list* and returns 
# the maximum or minimum element
print("Max:", max(nums))
print("Min:", min(nums))
# sum() gets as input a list of numbers and returns their sum
print("Sum:", sum(nums))

We have also used various type conversion functions, such as `int`, `float`, `str`, `set`, `list`,  `tuple`, and we also used `type` to find out the type of a given variable. 

In a variety of contexts, we also used the  `range`, `round`, and `sorted` functions.

In [ ]:
list(range(-10,10,2))

In [ ]:
a = [0.819, 0.277, 0.817, 0.575, 0.168, 0.973, 0.987, 0.883, 0.293, 0.933]
# Keep only numbers above 0.5 and round them to 2 decimals
b = [round(num,2) for num in a if num>0.5]
print(a)
print(b)
print(sorted(b))

In [ ]:
a = [0.819, 0.277, 0.817, 0.575, 0.168, 0.973, 0.987, 0.883, 0.293, 0.933]
# Keep only numbers above 0.5 and round them to 2 decimals
b = [] # we initialize the list b
for num in a:
    if num>0.5: # Keep only numbers above 0.5
        x = round(num,2) # round them to 2 decimals
        b.append(x)

print(a)
print(b)

# sorted() has a list as input and returns the list with the elements sorted
print(sorted(b))

The list at https://docs.python.org/3/library/functions.html contains all the built-in functions of Python. **As a general rule of thumb, avoid using these bult-in function names as variable names.**

### Functions from Libraries

We can also add more functions by `import`-ing libraries. You may recall importing the `math` library.

In [1]:
# Let's have some fun
import math
for i in range(32):
    # math.fabs returns the absolute value
    # math.cos returns the cosine of the value
    x = int(math.fabs((i*math.cos(i/4)))+1)
    print(x*'#')

#
#
##
###
###
##
#
##
####
######
#########
###########
############
#############
##############
#############
###########
########
####
#
######
###########
################
####################
########################
#########################
##########################
#########################
######################
#################
###########
####

Another commonly used library is the `random` library that returns random numbers.

In [2]:
import random
for i in range(10):
    x = random.random() # random.random() returns random values from 0 to 1
    print("The number is {n:.3f}".format(n=round(x,3)))

The number is 0.954
The number is 0.715
The number is 0.439
The number is 0.974
The number is 0.717
The number is 0.238
The number is 0.147
The number is 0.499
The number is 0.999
The number is 0.837

### User Defined Functions


** See also Examples 18, 19, 20, and 21 from Learn Python the Hard Way **

Functions assign a name to a block of code the way variables assign names to bits of data. This seeminly benign naming of things is incredibly powerful; alloing one to reuse common functionality over and over. Well-tested functions form building blocks for large, complex systems. As you progress through python, you'll find yourself using powerful functions defined in some of python's vast libraries of code.

Function definitions begin with the `def` keyword, followed by the name you wish to assign to a function. Following this name are parentheses, `( )`, containing zero or more variable names, those values that are passed into the function. There is then a colon, followed by a code block defining the actions of the function:

#### Printing "Hi"

Let's start by looking at a function that performs a set of steps.

First we define a function named 'print_hi'. It doesn't take any parameters/arguments.

In [3]:
def print_hi():
    print("hi!")

### Let's call it 10 times

In [5]:
for i in range(10):
    print_hi()

hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!

* Of course, most functions have also one or more _parameters_. For example, the function below will accept the name as a parameter, and then print out the message "HI _name_". where _name_ is the value of the parameter that we pass to the function. The function will also convert the _name_ into uppercase:

In [6]:
def hi_you(name):
    '''
    This function takes as input/parameter the variable name
    And then prints in the screen the message 
    HI <NAME>! 
    where <NAME> is the content of the name variable converted to uppercase
    '''
    print("HI", name.upper())

### Notice that 'name' is just a placeholder whose value is "passed" to the function.

In [7]:
names = ['Panos', 'Peter', 'Norman', 'Jennifer', 'Elena']
for n in names:
    hi_you(n)

HI PANOS
HI PETER
HI NORMAN
HI JENNIFER
HI ELENA

* Let's modify the `hi_you` to take as input a *list* of names and print out all of them

In [9]:
def hi_you_all(list_of_names):
    '''
    This function takes as input/parameter list_of_names
    And then prints in the screen the message 
    HI <NAME>! 
    for all the names in the list_of_names.
    
    The parameter names is a list of strings, with every string
    being a name that we want to print out
    '''
    for name in list_of_names:
        print("HI", name.upper(), "!")
        # Alternatively, we could reuse the function hi_you(name)
        # hi_you(name)

In [10]:
names = ['Panos', 'Peter', 'Norman', 'Jennifer', 'Elena']
hi_you_all(names)

HI PANOS !
HI PETER !
HI NORMAN !
HI JENNIFER !
HI ELENA !

#### The `return` statement 

Example of computing a math function

In [11]:
# The functions are often designed to **return** the
# result of a computation/operation
def square(num):
    squared = num*num
    # return the value of squared as the result of the function.
    return squared

In [12]:
x = square(3) # notice that square RETURNS a value that 
              # we store in variable x 
              # this is in contrast to hi_you and hi_you_all
              # that just printed out messages on the screen
print(x)

9

In [13]:
for i in range(15):
    print("The square of {a} is {aa}".format(a=i, aa=square(i)))

The square of 0 is 0
The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25
The square of 6 is 36
The square of 7 is 49
The square of 8 is 64
The square of 9 is 81
The square of 10 is 100
The square of 11 is 121
The square of 12 is 144
The square of 13 is 169
The square of 14 is 196

Note that the function `square` has a special keyword `return`. The argument to return is passed to whatever piece of code is calling the function. In this case, the square of the number that was input.

#### Solving the quadratic equation

Here is another example of a function, for solving the quadratic equation $ a*x^2 + b*x + c = 0$.

In [14]:
# This was our solution in Assignment 2F
import math
a = 1
b = -5.86
c = 8.5408
x1 = (-b + math.sqrt(b**2 - 4*a*c))/(2*a)
print("Solution 1: {x:.3f}".format(x=x1))
x2 = (-b - math.sqrt(b**2 - 4*a*c))/(2*a)
print("Solution 2: {x:.3f}".format(x=x2))

Solution 1: 3.140
Solution 2: 2.720

In [15]:
# We want to solve the quadratic equation a*x^2 + b*x + c = 0 
# We have two solutions:
# s1 = (-b + sqrt(b^2 - 4ac)) / 2a
# s2 = (-b - sqrt(b^2 - 4ac)) / 2a
import math

# We implement two functions to compute the solutions
# Notice that both functions take as input the values a,b,c
def s1(a,b,c):
    solution = (-b + math.sqrt(b**2 - 4*a*c)) / (2*a) 
    return solution

def s2(a,b,c):
    solution = (-b - math.sqrt(b**2 - 4*a*c)) / (2*a) 
    return solution

# Now let's use our functions
a = 1
b = -5.86
c = 8.5408
print("Solution 1:", s1(a,b,c) )
print("Solution 2:", s2(a,b,c) )

Solution 1: 3.1400000000000006
Solution 2: 2.7199999999999998

### Functions in python can also return more than one value

In [16]:
# Example of returning "multivalued" results using tuples/lists
def solve_quadratic(a,b,c):
    # We can even check that the value of the discriminant
    # is positive before returning a result
    discr = b**2 - 4*a*c
    if discr < 0: # We will not compute 
        return None # "None" is a special value, meaning "nothing"
    solution1 = s1(a,b,c)
    solution2 = s2(a,b,c)
    # A function can return a list, tuple, dictionary, etc.
    # The "return" value does not have to be a single value
    return solution1, solution2

solutions = solve_quadratic(a,b,c)
print("Solutions:", solutions )
print("Solutions:", solutions[0] )
print("Solutions:", solutions[1] )

Solutions: (3.1400000000000006, 2.7199999999999998)
Solutions: 3.1400000000000006
Solutions: 2.7199999999999998

In [ ]:
## COMMON MISTAKE 2
# Using multiple return statements
# Why? After we execute the first return, 
# we do not execute anything below that
def s1(a, b, c):
    d = math.sqrt(b**2 - 4*a*c)
    return (-b + d)/(2*a) # solution 1 
    return (-b - d)/(2*a) # solution 2, BUT this will never be executed

#### Example function: Cleaning up a string

In [ ]:
# this function takes as input a phone (string variable)
# and prints only its digits
def clean(phone):
    result = ""
    digits = {"0","1","2","3","4","5","6","7","8","9"}
    for c in phone:
        if c in digits:
            result = result + c
    return result

In [ ]:
p = "(800) 555-1214 Panos Phone number"
print(clean(p))

#### Exercises

* Write a function `in_range` that checks if a number `n` is within a given range `(a,b)` and returns True or False. The function takes n, a, and b as parameters.

* Write a `dedup` function that takes as input a list and returns back another list, with only unique elements and sorted. For example, if the input is `[1,2,5,5,5,3,3,3,3,4,5]` the returned list should be `[1, 2, 3, 4, 5]`. If the input is `['New York', 'New York',  'Paris', 'London', 'Paris']` the returned list should be `['London', 'New York', 'Paris']`.

* Write a function that generates a random password with `n` letters. The value `n` should be a parameter.

In [ ]:
# This code generates one random letter
import random
import string
random.choice(string.ascii_letters)