<a href="https://colab.research.google.com/github/nhwhite212/DealingwithDataSpring2021/blob/master/6-Pandas/H-Pandas_and_Excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reading Excel files

Pandas make it trivially easy to read the contents of Excel files. For example, I stored the restaurant inspection dataset as an excel file. Let's grab it and get it stored locally:

To read the Excel file, pandas uses the xlrd package. It is already installed in your machine, but if not, then type this in the shell:

In [1]:
!sudo -H pip3 install xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)

### xlrd is only one of several python libraries to read and write excel files, there is also openpyxl, xlsxwriter pyxlsb pylightxl,xlwt, ...
#### You can also write Excel add-ins in Python, see pyXLL and xlwings

In [3]:
import pandas as pd
!mkdir data
!curl http://people.stern.nyu.edu/nwhite/DealingwithDataSpring2021/data/restaurant.xlsx -o data/restaurant.xlsx

mkdir: cannot create directory ‘data’: File exists
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 40.2M  100 40.2M    0     0   951k      0  0:00:43  0:00:43 --:--:--  947k

#### we now create a dataframe created from the excel file, lets look at it (It only reads the first sheet)

In [15]:
xdf=pd.read_excel('data/restaurant.xlsx',sheet_name=None)

### Excel can have multiple worksheets, read_execl defaults to sheet0, but 'None' brings in them all, into a dictionary with keys for each sheet

In [19]:
xdf.keys()

dict_keys(['WebExtract', 'Violation', 'Action', 'Cuisine'])

In [20]:
xdf['Cuisine']

    CUISINECODE                   CODEDESC
0             2                    African
1             3                  American
2             5                      Asian
3            15                      Cajun
4            17                  Caribbean
..          ...                        ...
80           80                      Tapas
81           81                    Tex-Mex
82           83                    Turkish
83           84                 Vegetarian
84            0  Not Listed/Not Applicable

[85 rows x 2 columns]

In [26]:
dfcuisine=pd.DataFrame.from_dict(xdf['Cuisine'])
dfcuisine

    CUISINECODE                   CODEDESC
0             2                    African
1             3                  American
2             5                      Asian
3            15                      Cajun
4            17                  Caribbean
..          ...                        ...
80           80                      Tapas
81           81                    Tex-Mex
82           83                    Turkish
83           84                 Vegetarian
84            0  Not Listed/Not Applicable

[85 rows x 2 columns]

Read the worksheet named "WebExtract"

### Or, we can use the ExcelFile method to read all the sheets

In [27]:
restaurantsExcelFile = pd.ExcelFile("data/restaurant.xlsx")

In [28]:
tableWebExtract = restaurantsExcelFile.parse(sheetname="WebExtract");

In [29]:
tableViolationCodes = restaurantsExcelFile.parse(sheetname='Violation');

In [13]:
tableWebExtract.dtypes

CAMIS                    int64
DBA                     object
BORO                     int64
BUILDING                object
STREET                  object
ZIPCODE                float64
PHONE                   object
CUISINECODE              int64
INSPDATE        datetime64[ns]
ACTION                  object
VIOLCODE                object
SCORE                  float64
CURRENTGRADE            object
GRADEDATE       datetime64[ns]
RECORDDATE      datetime64[ns]
dtype: object

In [14]:
tableViolationCodes

           CAMIS  ...              RECORDDATE
0       30191841  ... 2014-09-11 06:01:26.563
1       40356068  ... 2014-09-11 06:01:26.563
2       40356483  ... 2014-09-11 06:01:26.563
3       40356731  ... 2014-09-11 06:01:26.563
4       30112340  ... 2014-09-11 06:01:26.563
...          ...  ...                     ...
531888  30075445  ... 2014-09-11 06:01:35.723
531889  40356018  ... 2014-09-11 06:01:35.723
531890  40363021  ... 2014-09-11 06:01:35.723
531891  40364304  ... 2014-09-11 06:01:35.723
531892  40365499  ... 2014-09-11 06:01:35.723

[531893 rows x 15 columns]